/* CSS File for the Wavelet Website */

/* SECTION NAMES ARE COMMENTED WITH CAPITAL LETTERS + 1 break line */
/* Subsections are commented in lower-case + 1 break line */
/* Specific element styles are commented on top of the element, without break line */

/* FONTS */
/* From Google Fonts:
Nunito (Regular 400) and Montserrat (Regular 400),
first imported on July 19th, 2021, 23:05, from:
https://fonts.google.com/
https://fonts.google.com/specimen/Nunito#license */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    border: none;
}

#basic-concepts > p {
    color: rgb(98, 98, 161);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
}

/* Headings */

.headings {
    font-family: 'Nunito', sans-serif;
    font-size: 200%;
    font-weight: bold;
    margin: auto; /* It does not read "margin: 0" from above, general style*/
    text-align: center;
    padding-top: 20px;
    color: blue;
    height: 75px;
    /*background-color: grey;*/
    position: relative;
    top: 75px;
}


/* HEADER */

#header {
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: red;
}

/* Bootstrap Navbar
Style copied from on July 8th, 2021, at 00:35,
from https://getbootstrap.com/docs/4.0/components/navbar/
*/

.navbar {
    height: 75px;
}

#navbarNavDropdown > ul > li > a {
    color: white;
    text-align: center;
    
}

#navbarNavDropdown > ul > li.nav-item.active > a {
    text-decoration: underline;
}


.navbar-brand {
    font-size: 125%;
    font-weight: bold;
}

#header > nav > a {
    color: white;
}

.navbar-expand-sm navbar-light {
    background-color: white;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color: white;
}

.collapse {
    /*background-color: rgb(243, 134, 134);*/
    background-color: red;
    border-radius: 5px;
}



/* FUNCTIONS PAGE */

/* Main Body */

#home-body {
    width: 100%;
    /*height: 500px; Define to fint in 1920x1080px screen (width x height); then
                    height = 75px + 75 px + 855px + 75px = 1080px */
    background-color: white;
    position: absolute;
    top: 150px;
    bottom: 75px;
}

#basic-concepts {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 10%; /* Change to add space below for more content/functions */
    /*background-color: aqua;*/
    text-align: justify;
}

.wavelet-function {
    margin-top: 50px;
    text-align: center;
    color: blue;
}

.reference-for-wavelet-function {
    text-align: center;
}

.wavelet-function-image {
    margin: auto;
    margin-left: 25%;
    width: 50%;
    
}

.wavelet-graph-image {
    margin: auto;
    margin-left: 25%;
    margin-top: 2%;
    width: 50%;
    
}

#references {
    margin-top: 50px;
    text-align: left;
    color: blue;
}


/* GENERATOR PAGE */

/* Graph and Configuration Panel Body Height of 725px */

#left-graph-div {
    float: left;
    width: 50%;
    height: 625px;
    position: relative;
    top: 75px;
    /*background-color: rgb(104, 236, 137);*/
}

#graph {

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5%;
    /*margin-bottom: 5%;*/
    padding-left: 25px;
    margin-left: 25px;
    height: 100%;
    margin-bottom: 100px;
    float: right;
    width: 75%;
    border-radius: 25px;
    /*background-color: cornflowerblue;*/
    background-color: rgb(247, 235, 235);



    /*
    height: 510px;
    margin-top: 5%;
    margin-right: 25px;
    margin-left: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;*/
}

#curve_chart-top, #curve_chart-bottom {
    width: 100%;
    height: 100%;
}

#right-conf-panel-div {
    float: right;
    width: 50%;
    height: 625px;
    position: relative;
    top: 75px;
    
    /*background-color: rgb(146, 28, 214); */
}

/*#bottom-left-graph-div {
    float: left;
    width: 50%;
    height: 365px;
    position: relative;
    top: 75px;
    background-color: rgb(39, 162, 184);
}
*/
#conf-panel {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 25px;
    margin-left: 25px;
    height: 100%;
    margin-bottom: 100px;
    float: left;
    width: 75%;
    border-radius: 25px;
    /*background-color: chocolate;*/
}


.panel-row-label {    
    width: 50%;
    height: 40px;
    margin-left: 0;
    
    padding-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: left;
    color: blue;
    /*background-color: coral;*/
}

.panel-row-input {
    width: 50%;
    height: 40px;
    margin-left: 0;
    border: red;
    border-radius: 10px;
    /*background-color: rgb(230, 186, 13);*/
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: left;
    /*background-color: coral;*/
}

/* Applies also for input fields in Contact page */
.input-field {
    border: 2px solid rgb(111, 155, 236);
    border-radius: 5px;
    
}

#wavelet-type-field {
    width: 100%;
    height: 100%;
}

#powered-by-Google {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: left;
    
}

#powered-by-Google {
    color: red;
}


#generate-button, #export-button {
    width: 50%;    
    height: 50px;       
    margin-top: 25px;
    margin-left: 0;
    background-color: red;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;

    border-width: 10px;
    border-radius: 10px;
}

#export-button {
    margin-bottom: 25px;
}

/* QUIZ */

/* Socre-Progress Panel plus Quiz Body Height of 725px  ????? */

#funny-message-div {

    color: rgb(98, 98, 161);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;

    text-align: center;
    padding-top: 0px;
    width: 100%;
    height: 30px;
    /*background-color: rgb(115, 43, 223);*/
    position: relative;
    top: 75px;
}

#start-panel-div {
    width: 100%;
    height: 60px;
    /*background-color: rgb(209, 207, 212);*/
    position: relative;
    top: 75px;
}

#score-panel-div {
    width: 100%;
    height: 75px;
    /*background-color: rgb(111, 29, 218);*/
    position: relative;
    top: 75px;
}

#last-answer-div {
    width: 100%;
    height: 75px;
    /*background-color: rgb(209, 207, 212);*/
    position: relative;
    top: 75px;
}

#score-panel-div-info {
    width: 50%;
    margin: auto;
    height: 75px;
    /*background-color: burlywood;*/
}

#last-answer-div-info {
    width: 50%;
    margin: auto;
    height: 75px;
    /*background-color: burlywood;*/
}

#score-div {
    width: 50%;
    height: 75px;
    float: left;
    padding-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: center;

    color: rgb(98, 98, 161);
    /*background-color: coral;*/
}

#time-div {
    width: 50%;
    height: 75px;
    float: right;
    padding-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: center;

    color: rgb(98, 98, 161);


    /*background-color: rgb(155, 51, 13);*/
}

#last-answer {
    width: 50%;
    height: 75px;
    float: left;
    padding-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: center;

    color: rgb(98, 98, 161);
}

#last-correct-answer {
    width: 50%;
    height: 75px;
    float: right;
    padding-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: center;

    color: rgb(98, 98, 161);
}

#progress-panel-div {
    width: 100%;
    height: 25px;
    /*background-color: rgb(186, 138, 248);*/
    position: relative;
    top: 75px;
}

#prog-bar {
    width: 50%;
    margin: auto;
    height: 25px;
    padding-bottom: 25px;
    background-color: rgb(148, 157, 240);
    position: relative;
}

.prog-subbar {
    width: 10%;
    height: 25px;
    position: relative;
    float: left;
    background-color: rgb(159, 159, 235);
}

#quiz-body {
    width: 100%;
    padding-top: 20px;
    height: 650px;
    /*background-color: rgb(32, 223, 64);*/
    position: relative;
    top: 75px;
}

#questions-area {
    padding: 2%;
    height: 50%; /* To keep proportions with other sections of the website */
    width: 50%;
    margin: auto;
    background-color: rgb(247, 235, 235);
    border-radius: 25px;
}

#question {
    width: 100%;
    height: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 125%;
    color:rgb(13, 13, 150);
    position: relative;
    margin: auto;
    text-align: center;

    /*background-color: chartreuse;*/
}

#answer {
    width: 30%;
    height: 40px;
    margin-left: 35%;
    margin-top: 25px;
    margin-bottom: 25px;

    border: 2px solid red;
    border-radius: 5px;
}

#start-button {    
    width: 24%; 
    height: 50px;       
    margin-left: 38%;
    margin-top: 10px;
    background-color: red;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    border-color: blue;
    border-width: 10px;
    border-radius: 10px;
}

#quiz-send-button {    
    width: 30%;    
    height: 50px;       
    margin-left: 35%;
    background-color: red;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    border-color: blue;
    border-width: 10px;
    border-radius: 10px;
}
    


/* CONTACT PAGE */



/* Main Body */

#contact-form-div {
    padding: 0px;
    width: 100%;
    /*background-color: rgb(191, 241, 50);*/
    position: absolute;
    top: 150px;
    bottom: 75px;
}

#contact-form {
    padding: 0px;
    height: 675px; /* To keep proportions with other sections of the website */
    width: 50%;
    margin: auto;
    /*background-color: rgb(241, 108, 19);*/
}

.form-row-label {    
    width: 50%;
    height: 40px;
    margin-left: 0;
    /*background-color: cyan;*/
    padding-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: left;
    /*background-color: coral;*/
    color: blue;
}

.form-row-input {
    width: 50%;
    height: 40px;
    margin-left: 0;
    border: blue;
    border-radius: 10px;
    /*background-color: rgb(230, 186, 13);*/
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    text-align: left;



}

.form-row-label {
    
    width: 50%;
    height: 50px;
    margin-left: 25%;
    

}

.form-row-input {
    width: 50%;
    height: 50px;
    margin-left: 25%;
    border: blue;
    border-radius: 10px;
    background-color: rgb(230, 186, 13);
}

#text-area {
    width: 50%;
    margin-left: 25%;
    /*background-color: cyan;*/
    resize: none;
}

.input-field {
    width: 100%;
    height: 100%;
}

#form-description {
    resize: none;
}

#form-send-button {
    width: 50%;    
    height: 50px;       
    margin-top: 25px;
    margin-left: 25%;
    background-color: red;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 125%;
    border-color: blue;
    border-width: 10px;
    border-radius: 10px;
}


/* FOOTER */

footer {
    width: 100%;
    height: 75px;
    background-color: red;
    position:fixed;
    bottom:0;
}

body > footer > nav {
    padding-top: 5px;
    font-size: 200%;
}

body > footer > nav > a > i {
    color: white;
}

/* ************* */
/* MEDIA QUERIES */
/* ************* */

/* SCREEN SIZE BETWEEN 800px AND 1250px */

/* FUNCTIONS PAGE */

@media screen and (max-width: 1250px) {

    /* FUNCTIONS PAGE */

    #basic-concepts {
    width: 75%;
    margin-left: 12%;
    }

    .wavelet-function-image {
        margin-left: 15%;
        width: 70%;
    }
    
    .wavelet-graph-image {
        margin-left: 15%;
        margin-top: 2%;
        width: 70%;
    }
}

    /* GENERATOR PAGE */

    #graph {
        width: 100%;
        margin-left: 0;
        border-radius: 25px;
        /*background-color: cornflowerblue;*/
    }

    #conf-panel {
        width: 95%;
    }

    .panel-row-label, #powered-by-Googl {
        width: 75%;
    }

    .panel-row-input, {
        width: 75%;
    }

    #wavelet-type-field {
        width: 100%;
    }



    /* QUIZ PAGE */

    #questions-area {
        width: 80%;        
        height: 70%;
    }

    /* CONTACT PAGE */

    .form-row-label {
        width:100%;
        margin-left: 0;
    }

    .form-row-input {
        width: 100%;
        margin-left: 0;
    }

    #text-area {
        width: 100%;
        margin-left: 0;
        /*background-color: cyan;*/
        resize: none;
    }



/* SCREEN SIZE BETWEEN 800px AND 950px */

@media  screen and (max-width: 950px) {

    /* FUNCTIONS PAGE */

    .wavelet-function-image {
        margin-left: 10%;
        width: 80%;
    }
    
    .wavelet-graph-image {
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
    }

    /* GENERATOR PAGE */

    #left-graph-div {
        /*float: right;*/
        width: 100%;
        height: 725px;
        position: absolute;
        top: 875px;
        /*background-color: rgb(104, 236, 137);*/
    }    
   
    #right-conf-panel-div {
        /*float: left;*/
        width: 100%;
        height: 725px;
        position: absolute;
        top: 150px;
        /*background-color: rgb(146, 28, 214);*/
    }

    #score-panel-div-info, #last-answer-div-info {
        width: 75%;
    }

    .panel-row-label, .form-row-label, #powered-by-Googl {
        width: 50%;
        margin-left: 25%;
    }

    .panel-row-input, .form-row-input {
        width: 50%;
        margin-left: 25%;
    }

    #generate-button, #export-button {
        margin-left: 25%;
    }

    #powered-by-Google {
        text-align: center;       
    }

    #conf-panel {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #graph {
        width: 100%;
    }

    /* QUIZ PAGE */

    #questions-area {
        width: 90%;

        height: 70%;
    }

    #question {
        height: 65%;
    }


  
    /* CONTACT PAGE */

    #contact-form {
        width: 70%;
        margin-left: 15%;
    }
    
    .form-row-label {
        width:100%;
        margin-left: 0;
    }

    .form-row-input {
        width: 100%;
        margin-left: 0;
    }

}


/* SCREEN SIZE BELOW 800px */

@media  screen and (max-width: 800px) {

    /* FUNCTIONS PAGE */
    .wavelet-function-image {
        margin-left: -17%;
        width: 134%;
    }
    
    .wavelet-graph-image {
        margin-left: 0%;
        margin-top: 2%;
        width: 100%;
    }

    /* GENERATOR PAGE */



    .panel-row-label, .form-row-label, #powered-by-Googl {
        width: 96%;
        margin-left: 2%;
    }

    .panel-row-input, .form-row-input {
        width: 96%;
        margin-left: 2%;
    }

    #generate-button, #export-button {
        margin-left: 25%;
    }

    #powered-by-Google {
        text-align: center;       
    }

    #conf-panel {
        padding-top: 0%;
    }

    /* QUIZ PAGE */
    #quiz-page-heading {
        
        font-size: 145%;
    }
    #funny-message-div {
        padding: 0px;
        margin: 0;
    }

    #score-panel-div-info, #last-answer-div-info {
        width: 75%;
        padding-top: 5px;
    }

    #score-div, #time-div, #last-answer, #last-correct-answer {
        padding-top: 0px;
    }
    /*#time-div {
        padding-top: 25px;
    }*/

    #questions-area {
        width: 90%;

        height: 70%;
    }

    #question {
        height: 65%;
    }


    
    /* CONTACT PAGE */
    #contact-us-heading {
        font-size: 150%;
    }

    #contact-form {
        width: 96%;
        margin-left: 2%;
    }
    ##text-area {
        height: 25%;
    }
        

}

/* SREEN SIZE BETWEEN 500px and 800px - Just for graph*/

@media screen and (max-width: 500px) {
    #graph {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #left-graph-div {
        height: 0%;
    }
}

/* SREEN SIZE BELOW 625px - Just for score */

@media screen and (max-width: 625px) {
    #score-div, #time-div {
        padding-top: 5px;
    }
}

/* SREEN SIZE BELOW 500px - Just for score */

@media screen and (max-width: 500px) {
    #funny-message-div {
        height: 60px;
    }
}