/* CSS File for the Wavelet Website */

/* SECTION NAMES ARE COMMENTED WITH CAPITAL LETTERS + 1 break line */
/* Subsections are commented in lower-case + 1 break line */
/* Specific element styles are commented on top of the element, without break line */

/* FONTS */




/* HEADER */

#header {
    width: 100%;
    position: fixed;
}

/* Bootstrap Navbar
Style copied from on July 8th, 2021, at 00:35,
from https://getbootstrap.com/docs/4.0/components/navbar/
*/



/* MAIN BODY */

#main-body {
    width: 100%;
    height: 500px;
    background-color: rebeccapurple;
}


/* FOOTER */

footer {
    width: 100%;
    height: 56px;
    background-color: red;
}